<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :headline %><br>
    <%= f.text_field :headline %>
  </div>
  <div class="field">
    <%= f.label :color, "Headline Color" %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :buttoncolor, "Button Color" %><br>
    <%= f.select :buttoncolor, options_for_select([['default'],['primary'],['success'],['info'],['warning'],['danger']]) %>
  </div>
  <div class="field">
    <%= f.label :buttontext, "Button Text" %><br>
    <%= f.text_field :buttontext %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
