<div class="bg-image" style="background-image: url('<%= @page.image.url %>'); no-repeat 50% 50% fixed; background-size: cover; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover;">

	<p id="notice"><%= notice %></p>
	<div class="edit">
		<%= link_to 'Edit', edit_page_path(@page), class: "btn btn-info btn-lg" %> |
		<%= link_to 'Back', pages_path, class: "btn btn-warning btn-lg"  %>
	</div>
  	<h1 class="headline" style="color: <%= @page.color if @page.color %>"><%= @page.headline %></h1>
<br><br><br><br><br>
  	 <div class="headline"> 
		
		<form>
 		 <input type="text" class="span2">
  		<button type="submit" class="btn btn-sm btn-<%= @page.buttoncolor %>"><%= @page.buttontext %></button>
		</form>
		
	</div>
	
</div>
