<div class="bg-image" style="background-image: url('<%= @page.image.url %>'); no-repeat center center fixed; background-size: cover; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover;">

 
	<div>
	<% if user_signed_in? %>
		<% if @page.referral_page === nil %>
		<%= link_to 'Create Referral Page', new_page_referral_page_path(@page), class: "btn btn-lg btn-success" %>
		<% else %>
		<%= link_to 'Show Referral Page', page_referral_page_path(@page, @referral_page), class: "btn btn-lg btn-success" %>
		<% end %>
		<%= link_to 'Edit', edit_page_path(@page), class: "btn btn-info btn-lg", data: {remote: true, toggle: "modal", target: "#myModal"} %> |
		<%= link_to 'Back', pages_path, class: "btn btn-warning btn-lg"  %>
		<p id="notice" class="alert-dismissible alert-success"><%= notice %></p>
	<% end %>	
	</div>
 

  	<div class="headline clearfix"> 
		<h1 style="color: <%= @page.color if @page.color %>">
			<%= @page.headline %>
		</h1>

		<br><br><br>
		<form>
 		 <input type="text" class="span2">
  		<button type="submit" class="btn btn-sm btn-info"></button>
		</form>
		
	</div>
	
	<%= render "edit_modal" %>

</div>
