<div class="bg-image" style="background-image: url('<%= @page.image.url %>'); no-repeat 50% 50% fixed; background-size: cover; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover;">
	
	<div>
		<% if @page.referral === nil %>
		<%= link_to 'New Referral Page', new_page_referral_path(@page), class: "btn btn-lg btn-success" %>
		<% else %>
		<%= link_to 'Show Referral Page', page_referral_path(@page, @referral), class: "btn btn-lg btn-success" %>
		<% end %>
		<%= link_to 'Edit', edit_page_path(@page), class: "btn btn-info btn-lg", data: {remote: true, toggle: "modal", target: "#myModal"} %> |
		<%= link_to 'Back', pages_path, class: "btn btn-warning btn-lg"  %>
		<p id="notice" class="alert-dismissible alert-success"><%= notice %></p>
	</div>

  	<div class="headline"> 
		<h1 style="color: <%= @page.color if @page.color %>">
			<%= @page.headline %>
		</h1>

		<br><br><br>
	
		<form>
 		 <input type="text" class="span2">
  		<button type="submit" class="btn btn-sm btn-<%= @page.buttoncolor %>"><%= @page.buttontext %></button>
		</form>	
	</div>
	
	<%= render "edit_modal" %>

</div>
