<div class="navbar" style="background-color: <%= @referral.navcolor %> ">

  <%= link_to 'Edit', edit_page_referral_path, class: "navbar-brand", data: {remote: true, toggle: "modal", target: "#myModal"} %> 
    <%= link_to 'Back', @referral.page, class: "navbar-brand" %>
    <%= link_to 'Home', root_path, class: "navbar-brand" %>
    

</div>

  <div class="top text-center" style="background-color: <%= @referral.rbackgroundcolor %>">
  
  <p id="notice"><%= notice %></p>

    <div class="row toprow">
        <div class="col-md-6 imagetop" style="background-image: url('<%= @referral.image.url %>'); no-repeat 50% 50% fixed; background-size: cover; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover;">
          <h2 style="color: <%= @referral.rheadlinecolor %>">
            <%= @referral.rheadline %>
          </h2>
        </div>
     

      <div class="col-md-6" style="color: <%= @referral.rightcolor %>">
        <h1>
         <%= @referral.rightheadline %>
        <h1>

        <h2>
          <%= @referral.rightsub %>
        </h2>

        <h2>
        <%= @referral.bottomsub %>
        </h2>
      </div>

  </div>
</div>

<div class="bottom">
  <h1 class="text-center" style="color: <%= @referral.rhowcolor %>">
    <%= @referral.rhow %>
  </h1>
  <p class="text-center" style="color: <%= @referral.rcountcolor %>"> You've reffered 5 friends. Keep Sharing!</p>

   <div class="row">
    <div class="col-md-3">
      <div class="box" style="color: <%= @referral.rboxcolor %>">
        <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">5</i></a>
        <h2>  
          <%= @referral.reward1 %>
        </h2>
    </div>
    </div>

     <div class="col-md-3">
      <div class="box" style="color: <%= @referral.rboxcolor %>">
        <a href="javascript:void(0)" class="btn btn-warning btn-fab"><i class="material-icons">10</i></a>

        <h2>
          <%= @referral.reward2 %>
        </h2>
      </div>
     </div>

    <div class="col-md-3">
      <div class="box" style="color: <%= @referral.rboxcolor %>">
        <a href="javascript:void(0)" class="btn btn-warning btn-fab"><i class="material-icons">25</i></a>
      <h2>
        <%= @referral.reward3 %>
      </h2>

      </div>
    </div>

    <div class="col-md-3">
      <div class="box" style="color: <%= @referral.rboxcolor %>">
        <a href="javascript:void(0)" class="btn btn-warning btn-fab"><i class="material-icons">50</i></a>

        <h2>
          <%= @referral.reward4 %>
        </h2>
     
      </div>
    </div>
  </div>

</div>
<%= render "edit_modal" %>


