<div class="navbar" style="background-color: <%= @referral.navcolor %> "></div>

  <div class="top text-center" style="background-color: <%= @referral.rbackgroundcolor %>">
  
  <p id="notice"><%= notice %></p>

    <div class="row toprow">
        <div class="col-md-6 imagetop" style="background-image: url('<%= @referral.image.url %>'); no-repeat 50% 50% fixed; background-size: cover; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover;">
          <h2 style="color: <%= @referral.rheadlinecolor %>">
            <%= @referral.rheadline %>
          </h2>
        </div>
     

      <div class="col-md-6" style="color: <%= @referral.rightcolor %>">
        <h1>
         <%= @referral.rightheadline %>
        <h1>

        <h2>
          <%= @referral.rightsub %>
        </h2>

        <h2>
        <%= @referral.bottomsub %>
        </h2>
      </div>

  </div>
</div>

<div class="bottom">
  <h1 class="text-center" style="color: <%= @referral.rhowcolor %>">
    <%= @referral.rhow %>
  </h1>
  <p class="text-center" style="color: <%= @referral.rcountcolor %>"> No friends Referred yet. Keep Sharing!</p>

      


      
  

   <div class="row">
    <div class="col-md-3">
      <div class="box" style="color: <%= @referral.rboxcolor %>">
      <%= @referral.reward1 %>
    </div>
    </div>

     <div class="col-md-3">
      <div class="box" style="color: <%= @referral.rboxcolor %>">
      <%= @referral.reward2 %>
      </div>
     </div>

    <div class="col-md-3">
      <div class="box" style="color: <%= @referral.rboxcolor %>">
      <%= @referral.reward3 %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="box" style="color: <%= @referral.rboxcolor %>">
      <%= @referral.reward4 %>
      </div>
    </div>
  </div>

  <%= link_to 'Edit', edit_referral_path(@referral), class: "btn btn-lg btn-info" %> |
  <%= link_to 'Back', referrals_path, class: "btn btn-lg btn-success" %>
</div>


