<%= form_for([@page, @page.referralpage], { multipart: true }) do |f| %>
  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this referralpage from being saved:</h2>

      <ul>
      <% @f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :rightheadline, "Right Headline" %><br>
    <%= f.text_field :rightheadline, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rheadline, "Left Headline" %><br>
    <%= f.text_field :rheadline, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rheadlinecolor, "Headline Color" %><br>
    <%= f.text_field :rheadlinecolor %>
  </div>
    <div class="form-group">
    <%= f.label :rightcolor, "Text Color For Right Column" %><br>
    <%= f.text_field :rightcolor %>
  </div>
  <div class="form-group">
    <%= f.label :rbackgroundcolor, "Top Background" %><br>
    <%= f.text_field :rbackgroundcolor %>
  </div>
  <div class="form-group">
    <%= f.label :rboxcolor, "Rewards Text Color" %><br>
    <%= f.text_field :rboxcolor %>
  </div>
  <div class="form-group">
    <%= f.label :rcountcolor, "# Friend's Text Color" %><br>
    <%= f.text_field :rcountcolor %>
  </div>
  <div class="form-group">
    <%= f.label :navcolor, "Navbar Color" %><br>
    <%= f.text_field :navcolor %>
  </div>

  <div class="form-group">
    <%= f.label :rhowcolor, "How it works text color" %><br>
    <%= f.text_field :rhowcolor %>
  </div>
  <div class="form-group">
    <%= f.label :rhow, "How it works text" %><br>
    <%= f.text_field :rhow, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rightsub, "Top Subheadline" %><br>
    <%= f.text_field :rightsub, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :bottomsub, "Bottom Subheadline" %><br>
    <%= f.text_field :bottomsub, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :facebook, "Facebook Share Message" %><br>
    <%= f.text_field :facebook, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :twitter, "Twitter Share Message" %><br>
    <%= f.text_field :twitter, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image%>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-sm btn-success" %>
  </div>
<% end %>
