<div class="navbar refnav" style="background-color: <%= @referralpage.navcolor %> ">
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_page_referralpage_path, class: "navbar-brand", data: {remote: true, toggle: "modal", target: "#myModal"} %> 
      <%= link_to 'Back', @referralpage.page, class: "navbar-brand" %>
      <%= link_to 'Home', root_path, class: "navbar-brand" %>
  <% end %>
</div>

<%= render "edit_modal" %>

  <div class="top text-center" style="background-color: <%= @referralpage.rbackgroundcolor %>">
 
      <div class="row toprow">
        <div class="col-md-6 imagetop" style="background-image: url('<%= @referralpage.image.url %>'); no-repeat 50% 50% fixed; background-size: cover; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover;">

          <h2 style="color: <%= @referralpage.rheadlinecolor %>; padding-top: 20%;">
            <%= @referralpage.rheadline %>
          </h2>
        </div>

      <div class="col-md-6" style="color: <%= @referralpage.rightcolor %>">
        <h2>
         <%= @referralpage.rightheadline %>
        <h2>

        <h3>
          <%= @referralpage.rightsub %>
        </h3>

        <h4>
        <%= @referralpage.bottomsub %>
        </h4>

        <div class="copy-link"><%= root_url %>?ref=82938e4D</div>
        <div class="social-links">
            <a href="" class="fb" target="_blank"></a>
            <div class="sep"></div>
            <a href="" class="twit" target="_blank"></a>
        </div>
      </div>

  </div>
</div>

<div class="bottom">
  <h4 class="text-center" style="color: <%= @referralpage.rhowcolor %>">
    <%= @referralpage.rhow %>
  </h4>
  <p class="text-center" style="color: <%= @referralpage.rcountcolor %>"> You've refered 5 friends. Keep Sharing!</p>
        <%= render "rewards/reward_modal" %>
       <div style="color: <%= @referralpage.rboxcolor %>">
        <%= render 'rewards/index', :rewards => @rewards %>
      </div>

</div>



